html {
    background-color: #1B3C53;
}

h1 {
    position: fixed;
    top: 10px;
    color: #D2C1B6;
    padding: 0 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

.projekt-btn {
    border: none;
    background-color: #D2C1B6;
    color: #1B3C53;
    padding: 15px 25px;
    border-radius: 15px;
    transition: transform .3s ease;
    text-decoration: none;
    font-weight: 600;
}

.projekt-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.projekt-btn:active {
    transform: scale(.9);
}

#loading-screen {
    position: fixed;
    inset: 0;
    background: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 9999;
}

.video {
    width: 150px;
    margin-bottom: 2rem;
}

.loader {
    width: 200px;
    height: 12px;
    background: #444;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.loader::after {
    content: "";
    display: block;
    width: 0%;
    height: 200%;
    background: #c01b1b;
    animation: loading 4.5s infinite linear;
}

p {
    font-weight: bolder;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    h1 {
        font-size: 1.5rem;
    }
}
